/* -----------------------------------
** Slider
-------------------------------------*/
.home-slider__text-content {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

/* -----------------------------------
** End Slider
-------------------------------------*/
