
$white:#fff;
$full-black:#000000;
$black: #22222b;

$base:#fdbf70;
$bcolor:#7f7f82;

$border:#eef2f7;
$ash:#ebebeb;
$ash-white:#f7f8fa;

$nv:#1e3042;
$yellow:#f57c00;
$green:#43a047;


$red:#f29383;
$cyan:#83c7f2;
$pink:#f283cc;



$purple:#AA00FF;














$beg:#a662ae;






$gray:#c3c3c3;




//$red:#ff6d6d;


$orange:#f39a24;
$lime-green:#82c484;


$open: 'Poppins', sans-serif;
$rb:'Montserrat', sans-serif;
