/* -----------------------------------
** About Us
-------------------------------------*/
.feature-service{
    text-align: center;
    padding-bottom: 20px;
    &__icon{
        min-height: 75px;
    }
    &__title{
        margin-bottom: 18px;
    }
}
.aboutus-find-Everything{
    background: url('../images/aboutus/findbg.jpg') no-repeat;
    background-size: cover;
    position: relative;

}
.find-everything{
    padding-top: 50px;
    padding-bottom: 75px;
    .section-title{
        font-size: 48px;
        font-weight: 500;
        @include breakpoint(max_sm){
            font-size:30px;
        }
    }
    @include breakpoint(max_sm){
        padding: 0;
    }
}
.partners-list{
    display: flex;
    flex-wrap: wrap;
    .partner-item{
        width:20%;
        text-align: center;
        padding:10px;
        min-height: 130px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
        @include breakpoint(max_md){
            min-height: auto;
            width:25%;
            margin-bottom: 15px;
        }
        @include breakpoint(max_sm){
            width:33.33333333%;
        }
        img{
            opacity: .5;
            transition: .3s;
            cursor: pointer;
            max-width: 80%;
            &:hover{
                opacity: 1;
            }
        }
    }
}
.about-stroy-wrapper{
    position: relative;
    padding-bottom: 40px;
    @include breakpoint(max_md){
        padding-left: 15px;
        padding-right: 15px;
    }
    &:before{
        position: absolute;
        left:0;
        bottom:0;
        width:100%;
        height: 72%;
        content: '';
        background: #f8f8f8;
        z-index: -1;
    }
    .story-title{
        font-weight: 400;
        font-size: 60px;
        @include breakpoint(max_md){
            font-size: 30px;
        }
    }
    .text-content{
        position: relative;
    }
}

/* -----------------------------------
** End About Us
-------------------------------------*/
