/* -----------------------------------
** Blog
-------------------------------------*/
.blog-post{
    border-bottom: 1px solid $border;
    padding-bottom: 35px;
    margin-bottom: 35px;
    &__thumb{
        img{
            width: 100%;
        }
    }
    &__text-content{
        padding-top: 33px;
    }
    &__title{
        font-size: 20px;
        font-weight: 400;
        margin-bottom:9px;
    }
    &__meta{
        padding-bottom: 16px;

    }
    &__date{
        padding-right: 17px;
    }
    &__read-more{
        font-size: 16px;
        font-weight: 500;
        color: $base;
        position: relative;
        padding: 4px 0;
        display: inline-block;
        //border-bottom: 1px solid $black;
        color: $black;
        &:before,&:after{
            position: absolute;
            left:0;
            bottom:-1px;
            height: 1px;
            content: '';
            transition: .4s;
        }
        &:before{
            width:100%;
            background: $black;
        }
        &:after{
            width:0;
            left:50%;
            background: $base;
        }
        &:hover{
            &:after{
                width:100%;
                left:0;
            }
        }
    }
    p{
        margin-bottom: 13px;
    }
    &__category{
        color: $bcolor;
        &:hover{
            color: $base;
        }
    }
}

.widget{
    margin-bottom: 60px;
    &__title{
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 24px;
    }
}
/******** widget searchform ********/
.search-form{
    position: relative;
    &__input{
        border-width: 0 0 1px 0;
        border-color: $border;
        border-style: solid;
        padding: 3px 0;
        height: 40px;
        border-radius: 0;
        box-shadow: none;
    }
    &__submit{
        position: absolute;
        top:0;
        right: 0;
        border:0;
        background: 0;
        height: 40px;
        font-size: 16px;
        &:hover,&:focus{
            outline: 0;
            color: $base;
        }
        i{
            transform: rotateY(180deg);
            &:before{
                font-weight: 600;
            }
        }
    }
}
/******** widget Popular post ********/
.populer-post{
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
    &:not(:last-child){
        border-bottom: 1px solid $border;
    }

    &__title{
        color: $bcolor;
        margin:-2px 0 5px 0;
        font-size: 14px;
    }
    &__thumb{
        max-width:80px;
        min-width: 80px;

    }
    &__text-content{
        padding-left: 20px;
        width: 100%;
    }
}
/******** widget Category ********/
.widget .cat-item{
    display: flex;
    justify-content: space-between;
    padding-bottom: 12px;
    a{
        color: $bcolor;
        &:hover{
            color: $base;
        }
    }
}
/******** widget Tag ********/
.widget{
    .tagcloud{
        margin-right: -8px;
        .tag-cloud-link{
            background: #e8e8e9;
            margin-right: 6px;
            margin-bottom: 10px;
            display: inline-block;
            height: 25px;
            line-height: 25px;
            white-space: nowrap;
            padding: 0 10px;
            color: $bcolor;
            font-size: 12px;
            &:hover{
                background: $black;
                color: $white;
            }
        }
    }

}
/******** widget Archives ********/
.widget .archives-item{
    display: flex;
    justify-content: space-between;
    padding-bottom: 12px;
    a{
        color: $bcolor;
        &:hover{
            color: $base;
        }
    }
}
/******** widget Instagram ********/
.widget{
    &__instagram{
        display: flex;
        width:100%;
        flex-wrap: wrap;
        li{
            width: 33.33333333%;
            margin-bottom: 3px;
            padding-right: 3px;
            @include breakpoint(max_md){
                width: auto;
            }
            @include breakpoint(max_sm){
                width: 33.33333333%;
                img{
                    width: 100%;
                }
            }
        }
    }
}
/******** widget Socials Icons ********/

.widget{
    &__social-icons{
        li{
            display: inline-block;
            margin-right: 8px;
            a{
                text-align: center;
                line-height: 36px;
                width:36px;
                height: 36px;
                border-radius: 100%;
                display: block;
                color: $bcolor;
                background: #f2f2f2;
                &:hover{
                    background: $black;
                    color: $white;
                }
            }
        }
    }
}




.blog-details__quote{
    color: $black;
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: $border;
    text-align: center;
    padding: 22px 0;
    margin-bottom: 25px;
    p{
        font-size: 16px;
        max-width: 625px;
        margin:0 auto;
    }
}
.blog-details-social-share{
    display: flex;
    justify-content: flex-end;
    &__title{
        padding-right: 15px;
        padding-top: 3px;
    }
}
.blog-details-navigaions{
    display: flex;
    width:100%;
    justify-content: space-between;
    a{
        color: $black;
        &:hover{
            color: $base;
        }
    }
}
.author-info{
    display: table;
    align-items: center;
    width: 100%;
    background: #f8f8f8;
    @include breakpoint(max_sm){
        width:100%;
        padding-left: 20px;
        padding-top: 20px;
        display: block;
    }
    &__image-wrap{
        width: 140px;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        @include breakpoint(max_sm){
            width:100%;
            text-align: left;
            display: block;
        }
    }
    &__text-content{
        width:calc(100% - 140px);
        padding:15px 25px 5px 0;
        display: table-cell;
        vertical-align: middle;
    }
    &__name{
        margin-bottom: 0;
        color: #252525;
        font-size: 16px;
    }
    p{
        color: #707070;
    }
}
.comments-title{
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 20px;
}
.single-comment-wrap{
    .single-comment-wrap{
        padding-left: 50px;
    }
}
.single-comment{
    position: relative;
    margin-bottom: 25px;
    .single-comment{

    }
    &__image{
        float: left;
    }
    &__text-content{
        margin-left: 55px;
        border-bottom: 1px solid $border;
        padding-left: 10px;
        padding-bottom: 25px;
    }
    p{
        margin-bottom: 18px;
    }
    &__name{
        display: inline-block;
        font-weight: 500;
        color: $black;
        margin-bottom: 3px;
        font-size: 16px;
    }
    // &__reply-button{
    //     border:1px solid $border;
    //     padding:0 8px;
    //     float: right;
    //     text-transform: uppercase;
    //     border-radius: 3px;
    // }
    &__time-ago{
        display: block;
        margin-bottom: 15px;
        font-size: 12px;
    }
}
.leave-comment-wrapper{

}
.leave-comment-title{
    font-size: 20px;
    font-weight: 400;
}


















/* -----------------------------------
** End Blog
-------------------------------------*/
