/* -----------------------------------
** Form Element
-------------------------------------*/
.form-group{
    margin-bottom: 24px;
    &__label{
        font-size: 16px;
        color: $black;
        margin-bottom: 0;
    }
    &__input,&__textarea{
        border-width: 0 0 1px 0;
        border-color: $border;
        border-style: solid;
        box-shadow: none;
        border-radius: 0;

    }
    &__input{
        padding: 0;
        height: 40px;
    }
    &__textarea{
        height: 90px;
        padding-left: 0;
        max-height: 90px;
    }
}
.select2-container{
    //width: 100% !important;
    .select2-selection--single{
        height: 40px;

        border-color: $border;
        border-radius: 5px;
        .select2-selection__rendered{
            padding-left: 14px;
            line-height: 38px;
        }
    }
}
.hide-search--dropdown .select2-search--dropdown{
    display: none;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    right:10px;
    b{
        margin-top: 4px;
    }
}
/* -----------------------------------
** End Form Element
-------------------------------------*/
