/* -----------------------------------
** Product
-------------------------------------*/
.main-content--home1{
    //background: url('../images/home1/main-content-bg.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.mix{
    display: none;
}
.filter-options{
    padding-bottom: 26px;
    li{
        padding: 4px 12px;
        display: inline-block;
        a{
            position: relative;
            color: $bcolor;
            &:before{
                position: absolute;
                bottom:-3px;
                background: $base;
                height: 1px;
                width: 0;
                transition: .3s;
                content: '';
            }
            &.active,&:hover{
                color: $base;
                &:before{
                    width: 100%;
                }
            }
        }
    }
}
.product-item{
    position: relative;
    min-height: 474px;
    &__actions{
        position: absolute;
        bottom:5px;
        right:0;
        overflow: hidden;

    }
    &__thumb{
        width: 100%;
    }
    &__media{
        position: relative;

    }
    &__action{
        margin-bottom: 5px;
        transition: .3s;
        opacity: 0;
        &:nth-child(1){
            transform: translateY(45px);
            transition: .6s;
        }
        &:nth-child(2){
            transform: translateY(40px);
            transition: .5s;
        }
        &:nth-child(3){
            transform: translateY(35px);
            transition: .4s;
        }
        &:nth-child(4){
            transform: translateY(15px);;
            transition: .3s;
        }
        a{
            display: block;
            width:30px;
            height: 33px;
            background: $white;
            color: $base;
            line-height: 33px;
            text-align: center;
            font-size: 14px;
            svg{
                fill:$base;
                width:17px;
                margin-top: 8px;
                transform: rotate(90deg);

            }
            &:hover{
                color: $white;
                background: $black;
                svg{
                    fill:$white;
                }
            }
        }
    }
    &:hover{
        .product-item__action{
            transform: translateY(0);
            opacity: 1;
        }
    }
    &__title{
        margin-bottom: 3px;
        margin-top: 20px;
        font-size: 16px;
        a{
            color: $bcolor;
            &:hover{
                color: $base;
            }
        }
    }
    .product-badge-wrap{
        position: absolute;
        top:20px;
        left:0;
        &--right{
            left: initial;
            right: 0;
        }
    }

}
.product-badge{
    height: 19px;
    width: 47px;
    text-align: center;
    line-height: 19px;
    display: block;
    font-size: 10px;
    margin-bottom: 8px;
}
.rating-symbol{
    color: $base;
    font-size: 12px;
    margin:0 1px 3px 1px;
}
.product-filter-button{
    font-size: 16px;
    padding:3px 0;
}
/* -----------------------------------
** End Product
-------------------------------------*/
