/* -----------------------------------
** Slider
-------------------------------------*/
.slick-list{
    div{
        &:focus{
            outline: 0 !important;
        }
    }
}
.home-slider-item{
    position: relative;
    &>img{
        max-height: 100vh;
        width: 100%;
        object-fit: cover;
    }
    &__text-content{
        position: absolute;
        width:100%;
        top:0;
        left:0;
        display: flex;
        align-items: center;
        height: 100%;
    }
    &__subtitle{
        font-size: 36px;
        color: $black;
        @include breakpoint(max_md){
            font-size: 18px;
        }
    }
    &__container{
        @include breakpoint(max_sm){
            width: 100%;
        }
    }
    &__title{
        font-size: 72px;
        font-weight: 400;
        margin-bottom: 30px;
        @include breakpoint(max_md){
            font-size: 30px;
        }
    }
}
.slick-dots{
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    bottom:40px;
    li{
        display: inline-block;
        margin:0 5px;
        button{
            width: 25px;
            height: 2px;
            background: #8c8e95;
            border:0;
            font-size: 0;
            &:focus{
                outline: 0;
                box-shadow: 0;
            }
        }
        &.slick-active{
            button{
                background: #22222b;

            }
        }
    }
}




















/* -----------------------------------
** End Slider
-------------------------------------*/
